.box1 {
  padding-top: 8px;
  align-content: center;
  color: gray;
}
.dropdown1 {
  border: none;
  color: gray;
}

.box2 {
  padding: 5px 0px;
  display: flex;
}

.dropdown-top {
  float: left;
  display: flex;
  height: 45px;
  margin-right: -20px;
  width: 150px;
  border-radius: 30px;
  padding-left: 20px;
}

.search-txt {
  width: 70%;
  height: 45px;
  padding-left: 40px;
  position: relative;
}

.search-btn{
  float: right;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background:#635555 ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position :relative;
  margin-left: -30px;
  margin-right: 40px;
}

.mycart {
  padding-left: 130px;
}

.navbar {
  background-color: #392061;
  height: 70px;
  width: 100%;
}

.nav-dropdown {
  background-color: #fff;
  height: 70px;
  padding-top: 15px;
}

.links {
  padding-top: 15px;
}
@media screen and (max-width: 400px){
  .dropdown-top {
    width: 90px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .mycart {
    padding-left: 0px;
  }

  .navbar{
    width: 100%;
  }

}
.herosection {
  padding: 100px 0px;
  background-color: rgb(247, 247, 247);
}

.btn-blue {
  background-color: #392061;
  height: 50px;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
  width: 150px;
}

.icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.title i {
  font-size: 48px;
  line-height: 1;
  transition: all 0.3s ease-in-out;
}
.title {
  text-decoration: none;
}

thead .thead {
  background-color: #392061 !important;
}

.footer-heading{
  color: #fff;
}

.search-txt-footer{
  width: 80%;
  height: 45px;
  padding-left: 40px;
  position: relative;
  border-radius: 40px;
}

.search-btn-footer{
  float: right;
  width: 85px;
  height: 45px;
  border-radius: 45%;
  background:#635555 ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position :relative;
  margin-left: -80px;
  margin-right: 40px;
}

.footer {
  padding : 20px 0px
}
                               
                                          
